* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#area-cabecalho{
    background-color: black;
    padding: 15px;  
    text-align: center;     /*define a centralização dos textos na pagina*/
}

#area-logo, #area-menu{
    padding: 10px;

}

#area-principal{
    width: 920px;
    margin: 0 auto;     /*alinhando a area principal da pagina*/
    padding: 15px;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral{
    text-align: justify;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#rodape{
    clear: both;            /*Usando o Clear para limpar fluxo do elemento flutuante*/
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}

/*Formatação do Menu*/

a {
    text-decoration: none;  /*removendo hunderline*/
}

a:link, a:visited {         /*formatação de links padrão*/
    color:#f7b600;             /*aplicando cores a lins e links visitados*/  

}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{          /*aplicando formatação a links apenas do Menu*/
    color:#fff;             
    padding: 8px 12px;  

}

#area-cabecalho a:hover {
    color: #f7b600;     /*aplicando cores quando passamos o mouse no link*/
    background: #fff;
    text-decoration: none;
}

/*Formatação em geral*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.laranja{
    color: #f7b600;
}

.branco{
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
